<div class="container-fluid" id="login-background">
<div class="logo">
    <a href="https://www.techversantinfotech.com/" class="simple-text">

        <img src="/assets/img/techversantLogo1.png" class="img-tech-logo" />

        <!-- Techversant -->
    </a>
</div>

<div class="form-bg">
    <div class="container">
        <div class="row" id="loginRow">
            <div class="col-md-offset-3 col-md-3 col-sm-offset-3 col-sm-6"></div>
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <div class="form-container">
                    <img src="../../assets/img/adminLogo.png" id="techLogoImg">
                    <h3 class="title">LOGIN</h3>
                    <!-- <ul class="social-links">
                        <li><a href=""><i class="fab fa-google"></i></a></li>
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    </ul> -->
                    <!-- <span class="description">or use you email for registration:</span> -->
                    <form class="form-horizontal" [formGroup]='form'>

                        <div class="form-group">
                            <input type="text" class="form-control"
                            formControlName="userName"
                            name="userName" placeholder="Username/Email" >
                        </div>
                    
                            <div class="alert alert-danger username-alert" role="alert"
                                *ngIf="userName.touched && userName.invalid">
                                <div *ngIf="userName.errors?.required">Username is required</div>
                                <div *ngIf="userName.errors?.minlength">must contain 4 characters</div>
                            </div>
                   
                        <!-- <div *ngIf="userName.errors.minlength">
                            <div class="alert alert-danger" role="alert" *ngIf="userName.touched&&userName.invalid">
                                username must be minimum 4 characters
                            </div>
                        </div> -->
                        <div class="form-group">
                            <input type="password" class="form-control"  formControlName="password" name="password"  placeholder="Password">
                        </div>
                        <div class="alert alert-danger password-alert" role="alert"
                                *ngIf="password.touched && password.invalid">
                                <div *ngIf="password.errors?.required">Password is required</div>
                               
                            </div>
                        <!-- <div class="form-group">
                            <input type="checkbox" class="checkbox">
                            <span class="check-label">I agree to the <a href="">Terms</a> and <a href="">Privacy Policy.</a></span>
                        </div> -->
                        <button type="submit" class="btn signup">Sign in</button>
                        <!-- <button class="btn signin">Sign in</button> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <!-- <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li> -->
            </ul>
        </nav>
        <div class="copyright pull-center">
            &copy;
            {{test | date: 'yyyy'}}
            <!-- <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web. -->
        </div>
    </div>
</footer>

</div>